{% load static %}
<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }"
      x-data="data()"
      lang="en">
{% include 'core/partials/base/_head.html' %}
<body>
<div class="flex items-center min-h-screen p-6 justify-center">
    <div class="card max-w-screen-md center">
        <form class="card-body group" method="post" novalidate>
            {% include 'core/partials/base/toasts.html' %}
            <div class="card-header">Forgot Password</div>
            {% csrf_token %}
            <div class="form-group">
                <div class="form-filed">
                    <label class="form-label">Email Address</label>
                    <input
                            name="email"
                            type="email"
                            class="peer max-w-full input mt-1"
                            placeholder="jsmith@gmail.com"
                            pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                            required
                            minlength="8"
                    />
                    <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):invalid]:block">
                      Please enter a valid email
                    </span>
                </div>
                <button class="btn btn-secondary cursor-pointer group-invalid:cursor-not-allowed  group-invalid:opacity-30">Recover Password</button>
                <p class="block group-invalid:hidden text-content2 text-sm">This will send a recovery email to your email address if the email is valid.</p>
                <a class="link link-underline-hover link-secondary font-medium text-sm mt-2" href="{% url 'login' %}">Go Back</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>